{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <a aria-hidden="true">&times;;</a>
            </button>
        </div>
        
    {% endfor %}


    {% if id %}
        <h1>Hello {{ id }}</h1>
        <br/>
        {% for our_estudiantes in our_estudiante %}
            {{ our_estudiantes.id }}. {{ our_estudiantes.DNI }} - {{ our_estudiantes.apellidos }} - {{ our_estudiantes.nombres}} - {{ our_estudiantes.feNacimiento}} - {{ our_estudiantes.sexo}} - {{ our_estudiantes.codEscuela}} <br/>
        {% endfor %}
    {% else %}
        <h1>AGREGAR ESTUDIANTE</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="exampleFormControlInput1" class="form-label">DNI DEL ESTUDIANTE</label>
            {{ form.DNI(class="form-control") }}
            <br/>
            <label for="exampleFormControlInput1" class="form-label">APELLIDOS DEL ESTUDIANTE</label>
            {{ form.apellidos(class="form-control") }}
            <br/>
            <label for="exampleFormControlInput1" class="form-label">NOMBRE DEL ESTUDIANTE</label>
            {{ form.nombres(class="form-control") }}
            <br/>
            <!-- <label for="">Fecha Nacimiento</label>
            <input type="date" class="form-control" name="feNacimiento" required> -->

            <label for="basic-url" class="form-label">FECHA DE NACIMIENTO</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">FECHA DE NACIMIENTO:</span>
                <input type="date" class="form-control" id="basic-url" name="feNacimiento" aria-describedby="basic-addon3">
            </div>

            <!-- {{ form.feNacimiento(class="form-control") }} -->
            <br/>
            <label for="exampleFormControlInput1" class="form-label">SEXO DEL ESTUDIANTE</label>

            <select class="form-select" name="sexo" aaria-label=".form-select-lg example" required>
                <option selected></option>
                <option value="M">MASCULINO</option>
                <option value="F">FEMENINO</option>
            </select>



            <!-- {{ form.sexo(class="form-control") }} -->
            <br/>
            <label for="">CODIGO DE LA ESCUELA</label>
            {{ form.codEscuela(class="form-control") }}
            <br/>
            <button type="submit" class="btn btn-warning">INSERTAR ALUMNO</button>
        </form>

        <!--JacK-->
        <br/>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">DNI</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">FECHA DE NACIMIENTO</th>
                <th scope="col">SEXO</th>
                <th scope="col">CODIGO DE LA ESCUELA</th>
                <th scope="col">ACCIÓN</th>
              </tr>
            </thead>
            <tbody>
            {% for our_estudiantes in our_estudiante %}
              <tr>
                <th scope="row">{{ our_estudiantes.id }}</th>
                <td>{{ our_estudiantes.DNI }}</td>
                <td>{{ our_estudiantes.apellidos }}</td>
                <td>{{ our_estudiantes.nombres }}</td>
                <td>{{ our_estudiantes.feNacimiento }}</td>
                <td>{{ our_estudiantes.sexo }}</td>
                <td>{{ our_estudiantes.codEscuela }}</td>
                <td>
                    <a class="btn btn-success" href="{{ url_for('update_estudiante', id=our_estudiantes.id) }}">EDITAR</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_estudiante', id =our_estudiantes.id) }}">ELIMINAR</a>
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--JacK-->

    {% endif %}
{% endblock %}