{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <a aria-hidden="true">&times;;</a>
            </button>
        </div>
        
    {% endfor %}


    {% if nombre %}
        <h1>Hello {{ nombre }}</h1>
        <br/>        
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">NOMBRE DE LA ESCUELA</th>
                <th scope="col">DURACION DE LA ESCUELA</th>
                <th scope="col">ACCION</th>
              </tr>
            </thead>
            <tbody>
            {% for our_escuelas in our_escuela %}
              <tr>
                <th scope="row">{{ our_escuelas.codigo }}</th>
                <td>{{ our_escuelas.nombre }}</td>
                <td>{{ our_escuelas.duracion}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('update_escuela', codigo=our_escuelas.codigo) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_escuela', codigo =our_escuelas.codigo) }}">Eliminar</a>
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>         
    {% else %}
        <h1>ACTUALIZAR DATOS DE ESCUELA</h1>
        <br/>
        <form action="/Escuela_edit/{{esc.codigo}}" method="POST">
            
            {{ form.hidden_tag() }}
            <label for="exampleFormControlInput1" class="form-label">CÓDIGO</label>
            <input type="text" class="form-control" name="codigo" value="{{esc.codigo}}" required>
            <br>
            <label for="exampleFormControlInput1" class="form-label">NOMBRE DE LA ESCUELA</label>
            <input type="text" class="form-control" name="nombre" value="{{esc.nombre}}" required>
            <br>
            <label for="exampleFormControlTextarea1" class="form-label">DURACIÓN DE LA ESCUELA</label>
            <input type="text" class="form-control" name="duracion" value="{{esc.duracion}}" required>
            <br/>
            <button type="submit" class="btn btn-warning">ACTUALIZAR</button>
            
        </form>
    {% endif %}
{% endblock %}