{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <a aria-hidden="true">&times;;</a>
            </button>
        </div>
        
    {% endfor %}


    {% if nombre  %}
        <h1>Hello {{ nombre }}</h1>
        <br/>        
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">CÓDIGO</th>
                <th scope="col">NOMBRE DEL CURSO</th>
                <th scope="col">CREDITOS DEL CURSO</th>
                <th scope="col">ACCIÓN</th>
              </tr>
            </thead>
            <tbody>
            {% for our_cursos in our_curso %}
              <tr>
                <th scope="row">{{ our_cursos.codigo }}</th>
                <td>{{ our_cursos.nombre }}</td>
                <td>{{ our_cursos.credito}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('update_curso', codigo=our_cursos.codigo) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_curso', codigo =our_cursos.codigo) }}">Eliminar</a>
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>         
    {% else %}
        <h1>ACTUALIZAR DATOS DEL CURSO</h1>
        <br/>
        <form action="/curso_edit/{{cur.codigo}}" method="POST">
            
            {{ form.hidden_tag() }}
            <label for="exampleFormControlInput1" class="form-label">CÓDIGO  DEL CURSO</label>
            <input type="text" class="form-control" name="codigo" value="{{cur.codigo}}" required>
            <br>
            <label for="exampleFormControlInput1" class="form-label">NOMBRE DEL CURSO</label>
            <input type="text" class="form-control" name="nombre" value="{{cur.nombre}}" required>
            <br>
            <label for="exampleFormControlTextarea1" class="form-label">CREDITOS DEL CURSO</label>
            <input type="text" class="form-control" name="credito" value="{{cur.credito}}" required>
            <br/>
            <button type="submit" class="btn btn-warning">ACTUALIZAR</button>
         
        </form>
    {% endif %}
{% endblock %}